@import '../../style/_borders.scss';

.poster {
  width: 100%;
  max-height: 420px;
  height: 380px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border_radius_sm;
}

.large {
  height: 440px;
}

.small {
  height: 200px;
}
