@import '../../style/_borders.scss';
@import '../../style/_main.scss';

.poster {
  width: 100%;
  max-height: 640px;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border_radius_sm;
  transition: all 0.2s ease;
}

.poster:hover {
  cursor: pointer;
  transform: translateY(-2%);
}
