@import '../../style/_main.scss';
@import '../../style/_spacing.scss';
@import '../../style/_colors.scss';
@import '../../style/_zIndices.scss';

.layout {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: $site_max_width;
  margin: 0 auto;
  padding: 0 $spacing_lg;
  position: relative;
  align-items: stretch;
}

.layout-background {
  width: 110vw;
  min-height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex_background;
  filter: blur(4px);
  transform: translate(-5vw, -5vh);
}

.layout-background::after {
  content: '';
  background-color: $color_brand_primary;
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: multiply;
}
