@import '../../../style/_colors.scss';
@import '../../../style/_typography.scss';
@import '../../../style/_borders.scss';
@import '../../../style/_spacing.scss';

.button {
  height: 52px;
  border: none;
  background: $color_button_default;
  color: $color_button_text;
  border-radius: $border_radius_sm;
  padding: 0 $spacing_md;
  font-size: $font_size_sm;
  letter-spacing: $font_spacing_wider;
  text-align: center;
  width: 100%;
}

.emphasized {
  text-transform: uppercase;
}

.button:hover {
  background: $color_button_default_selected;
}

.subtle {
  background: $color_button_subtle;
  color: $color_text_default;
}

.subtle:hover {
  background: $color_button_subtle_selected;
}

.small {
  height: 42px;
}

.large {
  height: 60px;
}
