@import '../../../style/_colors.scss';

.spinner {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 4px solid $color_brand_secondary;
  border-top: 4px solid $color_brand_primary;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
