@import '../style/_spacing.scss';

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.page-controls {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-top: $spacing_md;
}

.page-controls .button {
  width: auto;
}

.movie-page,
.pinned-page {
  margin-top: $spacing_3xl;
  padding-bottom: 180px;
}

.pinned-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  height: auto;
  width: 48%;
  margin-bottom: $spacing_xs;
}
