// Base Font Colors
$color_black: #000000;
$color_white: #FFFFFF;

$color_gray_900: #1A202C;
$color_gray_800: #2D3748;
$color_gray_600: #718096;
$color_gray_500: #A0AEC0;
$color_gray_300: #E2E8F0;
$color_gray_200: #EDF2F7;
$color_gray_100: #F7FAFC;

$color_red_500: #F56565;
$color_red_400: #FC8181;
$color_red_300: #FEB2B2;

// Brand Colors
$color_brand_primary: $color_gray_900;
$color_brand_secondary: $color_red_500;

// Text Colors
$color_text_subtle: $color_gray_500;
$color_text_default: $color_gray_200;
$color_text_sharp: $color_gray_100;

// Button Colors
$color_button_text: $color_black;
$color_button_subtle: $color_gray_900;
$color_button_subtle_selected: $color_gray_800;

$color_button_default: $color_red_500;
$color_button_default_selected: $color_red_400;
