$font_stack: Roboto, Arial;

// Font Sizes
$font_size_xs: 0.75rem;
$font_size_sm: 0.875rem;
$font_size_md: 1rem;
$font_size_lg: 1.25rem;
$font_size_xl: 1.75rem;
$font_size_2xl: 2rem;
$font_size_3xl: 2.75rem;
$font_size_4xl: 3.75rem;

// Font Weights
$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

// Font Line Heights
$font_height_normal: normal;
$font_height_shorter: 1.25;
$font_height_short: 1.375;
$font_height_base: 1.5;
$font_height_tall: 1.625;
$font_height_taller: 2;

// Font Letter Spacing
$font_spacing_tighter: -0.05rem;
$font_spacing_tight: -0.025rem;
$font_spacing_normal: 0;
$font_spacing_wide: 0.025rem;
$font_spacing_wider: 0.05rem;
$font_spacing_widest: 0.1rem;
