@import '../style/_main.scss';
@import '../style/_typography.scss';
@import '../style/_colors.scss';

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font_stack;
  font-weight: $font_weight_medium;
  letter-spacing: $font_spacing_wide;
  line-height: $font_height_base;
  color: $color_text_default;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_stack_header;
}

h1 {
  font-size: $font_size_4xl;
}

h2 {
  font-size: $font_size_3xl;
}

h3 {
  font-size: $font_size_2xl;
}

h4 {
  font-size: $font_size_xl;
}

h5 {
  font-size: $font_size_lg;
}

button {
  font-weight: $font_weight_bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color_text_default;
}

.icon {
  height: 52px;
  width: 52px;
  color: $color_brand_secondary;
}
