@import '../style/_typography.scss';
@import '../style/_colors.scss';

body {
  padding: 0;
  margin: 0;
  font-family: $font_stack;
  font-weight: $font_weight_medium;
  letter-spacing: $font_spacing_wide;
  line-height: $font_height_base;
  color: $color_text_default;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_stack_header;
}

button {
  font-weight: $font_weight_bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color_text_default;
}
