@import '../../style/_typography.scss';
@import '../../style/_main.scss';
@import '../../style/_spacing.scss';
@import '../../style/_colors.scss';

.movie {
  display: flex;
  flex-direction: column;
  animation: slideUp 0.3s ease;
}

.tooltip {
  display: inline;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: $font_size_2xl;
  margin: 0;
  margin-bottom: $spacing_xs;
}

.meta {
  display: flex;
  flex-direction: row;
  color: $color_text_subtle;
  font-size: $font_size_sm;
}

.meta-item:nth-child(1) {
  margin-right: $spacing_sm;
}

.text {
  font-size: $font_size_md;
  margin: $spacing_lg 0 $spacing_xl 0;
  color: $color_text_default;
  line-height: $font_height_tall;
}

.movie-rating {
  margin-top: $spacing_lg;
}

.movie-rating svg {
  width: 32px;
  height: 32px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  width: 100%;
}

.movie-left {
  height: 50vh;
}

@media (min-width: $breakpoint_md) {
  .movie {
    display: flex;
    flex-direction: row;
  }

  .movie-left {
    width: 430px;
    height: 640px;
  }

  .movie-right {
    width: 50%;
    padding: $spacing_xl;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
