@import '../../../style/_colors.scss';
@import '../../../style/_typography.scss';
@import '../../../style/_borders.scss';
@import '../../../style/_spacing.scss';
@import '../../../style/_zindices.scss';

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $color_brand_primary;
  opacity: 0.75;
  z-index: $zindex_overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}
